<div class="row">
	<div class="col-md-12">
		<h1 class="page-header">Dashboard</h1>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<i class="fa fa-clock-o fa-fw"></i> Últimas capas cadastradas
				<div class="pull-right">
					<a href ng-click="home.showAs = 'list'"><i class="fa fa-th-list"></i></a>
					<span> | </span>
					<a href ng-click="home.showAsTable()"><i class="fa fa-th"></i></a>
				</div>
			</div>
			<div class="panel-body">
				<!-- <form >
					<div class='row'>
						<div class='col-md-3'>
							<div class='form-group'>
								<label>Pesquisar</label>
								<input ng-model='home.filter.value' placeholder='Pesquisar artigos' maxlength='255' class='form-control'>
							</div>
						</div>
						<div class='col-md-9'>
							<div class='form-group'>
								<label>&nbsp;</label>
								<div>
									<button class='btn btn-primary' ng-click='home.list(home.filter)'>
										<i class='fa fa-search'></i> Buscar
									</button>
								</div>
							</div>
						</div>
					</div>

				<hr ng-if='home.articles' />
				</form> -->

				<div class="row" ng-if="home.showAs === 'list'">
					<div class="col-md-12">
						<div class="table-responsive">
							<table st-table="home.articlesList" st-safe-src="home.articles" class="table table-striped table-hover">
								<thead>
									<tr>
										<th class="cover-list">Capa</th>
										<th width="20%">Revista</th>
										<th>Artigo</th>
										<th>Autores</th>
										<th width="50px">Edição</th>
										<th width="50px"></th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="a in home.articlesList">
										<td>
											<a href ng-click='home.showDetails(a)'>
												<img class="cover-list" ng-src="{{a.cover}}">
											</a>
										</td>
										<td>{{a.magazine}}</td>
										<td>{{a.article}}</td>
										<td>
											<span>
												<span ng-repeat="a in a.authors">{{a}}<span ng-if="!$last">, </span></span>
											</span>
										</td>
										<td>{{a.edition}}</td>
										<td>
											<button class="btn btn-default pull-right" ng-click="home.deleteCover(a)">
												<i class="fa fa-close"></i><span class="hidden-xs"> Remover</span>
											</button>
										</td>
									</tr>
									<tr ng-if="home.articlesList.length === 0" style="height: 51px;">
										<td colspan="6">
											Nenhum resultado encontrado.
										</td>
									</tr>
								</tbody>
								<tfoot>
									<tr>
										<td colspan="6" class="text-center">
											<div st-pagination="" st-items-by-page="10" st-displayed-pages="7"></div>
										</td>
									</tr>
								</tfoot>
							</table>
						</div>
					</div>
				</div>

				<div class="row" ng-show="home.showAs === 'table'">
					<div class="col-md-12">
						<div style="width: 100%">
							<ul class="dynamic-grid" angular-grid="home.articles" angular-grid-id="gallery" refresh-on-img-load="true" >
								<li data-ng-repeat="a in home.articles" class="grid">
									<div style="padding: 5px;">
										<a href ng-click='home.showDetails(a)'>
											<img ng-src="{{a.cover}}" class="grid-img"  />
										</a>

										<h3>{{a.article}}</h3>
										<h4>{{a.magazine}}</h4>
										<p>
											<span>
												<span ng-repeat="au in a.authors">{{au}}<span ng-if="!$last">, </span></span>
											</span>
										</p>
										<p ng-if='a.edition'>
											<span>{{a.edition}} edição</span>
										</p>
										<p class="text-center">
											<button class="btn btn-default" ng-click="home.deleteCover(a)">
												<i class="fa fa-close"></i><span class="hidden-xs"> Remover</span>
											</button>
										</p>
										<div class="clearfix"></div>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script type='text/ng-template' id='details-dialog'>
	<br />

	<div class='text-center'>
		<img ng-src="{{home.currentArticle.cover}}" />
	</div>

	<div class='row'>
		<div class='col-md-12'>
			<h3>{{home.currentArticle.article}}</h3>
			<h4>{{home.currentArticle.magazine}}</h4>
			<p>
				<span>
					<span ng-repeat="a in home.currentArticle.authors">{{a}}<span ng-if="!$last">, </span></span>
				</span>
			</p>
			<p ng-if='home.currentArticle.edition'>
				<span>{{home.currentArticle.edition}} edição</span>
			</p>
			<small>Imagem carregada por <b>Usuário 1</b> no dia <b>20/04/2015</b>.</small>
		</div>
	</div>
</script>

<style>
	.grid {
		border: 1px solid #cccccc;
		list-style: none;
		background: #ffffff;
		box-sizing: border-box;
		-moz-box-sizing : border-box;
		-webkit-transition: all 0.6s ease-out; 
		transition: all 0.6s ease-out; 
	}
	.grid-img {
		width: 100%;
		vertical-align: middle;
		-webkit-transition: opacity 0.6s ease-out;  
		transition: opacity 0.6s ease-out;
		background-color: #fff;
		opacity: 0; 
		visibility: hidden;
	}

	.grid-img.img-loaded{
		visibility: visible;
		opacity: 1;
	}

	.dynamic-grid {
		position: relative;
		display: none;
	}
	.dynamic-grid.angular-grid {
		display: block;
	}
	.grid {
		position: absolute;
		list-style: none;
		background: #ffffff;;
		box-sizing: border-box;
		-webkit-transition: all 400ms ease;
		transition: all 400ms ease;
		overflow: hidden;
	}
	.grid.ng-leave {
		-webkit-transition: all ease 400ms;
		transition: all ease 400ms;
	}
	.grid.ng-leave.ng-leave-active {
		-webkit-transform: scale(0.5);
		transform: scale(0.5);
		opacity: 0;
	}
	.grid.ng-enter {
		-webkit-transition: all ease 400ms;
		transition: all ease 400ms;
		-webkit-transition-delay: 500ms;
		transition-delay: 500ms;
		-webkit-transform: scale(0.5);
		transform: scale(0.5);
		opacity: 0;
	}
	.grid.ng-enter.ng-enter-active {
		-webkit-transform: scale(1);
		transform: scale(1);
		opacity: 1;
	}
	.grid-img {
		width: 100%;
		vertical-align: middle;
		background-color: #fff;
		opacity: 0;
		visibility: hidden;
	}
	.grid-img.img-loaded {
		visibility: visible;
		opacity: 1;
	}
	/*.dynamic-grid.angular-grid {
		height: 120% !important;
	}*/

</style>

