<div class="row">
	<div class="col-md-12">
		<h1 class="page-header">Dashboard</h1>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<i class="fa fa-clock-o fa-fw"></i> Últimas capas cadastradas
				<div class="pull-right">
					<a ng-click="main.showAs = 'list'"><i class="fa fa-th-list"></i><a>  | 
						<a ng-click="main.showAsTable()"><i class="fa fa-th"></i></a>
					</div>
				</div>
				<div class="panel-body">
					<div class="row" ng-if="main.showAs === 'list'">
						<div class="col-md-12">
							<div class="table-responsive">
								<table st-table="main.articlesList" st-safe-src="main.articles" class="table table-striped table-hover">
									<thead>
										<tr>
											<th class="cover-list">Capa</th>
											<th width="20%">Revista</th>
											<th>Artigo</th>
											<th>Autores</th>
											<th width="50px"></th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="m in main.articlesList">
											<td>
												<img class="cover-list" ng-src="{{m.cover}}">
											</td>
											<td>{{m.magazine}}</td>
											<td>{{m.article}}</td>
											<td>
												<span>
													<span ng-repeat="a in m.authors">{{a}}<span ng-if="!$last">, </span></span>
												</span>
											</td>
											<td>
												<a class="btn btn-default pull-right" ng-click="main.deleteCover(m)">
													<i class="fa fa-close"></i><span class="hidden-xs"> Remover</span>
												</a>
											</td>
										</tr>
										<tr ng-if="main.articlesList.length === 0" style="height: 51px;">
											<td colspan="5">
												Nenhum resultado encontrado.
											</td>
										</tr>
									</tbody>
									<tfoot>
										<tr>
											<td colspan="5" class="text-center">
												<div st-pagination="" st-items-by-page="10" st-displayed-pages="7"></div>
											</td>
										</tr>
									</tfoot>
								</table>
							</div>
						</div>
					</div>

					<div class="row" ng-show="main.showAs === 'table'">
						<div class="col-md-12">
							<div style="width: 100%">
								<ul class="dynamic-grid" angular-grid="main.articlesTable" angular-grid-id="gallery" refresh-on-img-load="true" >
									<li data-ng-repeat="m in main.articles" class="grid">
										<div style="padding: 5px;">
											<img ng-src="{{m.cover}}" class="grid-img"  />

											<h3>{{m.article}}</h3>
											<h4>{{m.magazine}}</h4>
											<p>
												<span>
													<span ng-repeat="a in m.authors">{{a}}<span ng-if="!$last">, </span></span>
												</span>
											</p>
											<p class="text-center">
												<a class="btn btn-default" ng-click="main.deleteCover(m)">
													<i class="fa fa-close"></i><span class="hidden-xs"> Remover</span>
												</a>
											</p>
											<div class="clearfix"></div>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<style>
	.grid {
		border: 1px solid #cccccc;
		list-style: none;
		background: #ffffff;
		box-sizing: border-box;
		-moz-box-sizing : border-box;
		-webkit-transition: all 0.6s ease-out; 
		transition: all 0.6s ease-out; 
	}
	.grid-img {
		width: 100%;
		vertical-align: middle;
		-webkit-transition: opacity 0.6s ease-out;  
		transition: opacity 0.6s ease-out;
		background-color: #fff;
		opacity: 0; 
		visibility: hidden;
	}

	.grid-img.img-loaded{
		visibility: visible;
		opacity: 1;
	}

	.dynamic-grid {
		position: relative;
		display: none;
	}
	.dynamic-grid.angular-grid {
		display: block;
	}
	.grid {
		position: absolute;
		list-style: none;
		background: #ffffff;;
		box-sizing: border-box;
		-webkit-transition: all 400ms ease;
		transition: all 400ms ease;
		overflow: hidden;
	}
	.grid.ng-leave {
		-webkit-transition: all ease 400ms;
		transition: all ease 400ms;
	}
	.grid.ng-leave.ng-leave-active {
		-webkit-transform: scale(0.5);
		transform: scale(0.5);
		opacity: 0;
	}
	.grid.ng-enter {
		-webkit-transition: all ease 400ms;
		transition: all ease 400ms;
		-webkit-transition-delay: 500ms;
		transition-delay: 500ms;
		-webkit-transform: scale(0.5);
		transform: scale(0.5);
		opacity: 0;
	}
	.grid.ng-enter.ng-enter-active {
		-webkit-transform: scale(1);
		transform: scale(1);
		opacity: 1;
	}
	.grid-img {
		width: 100%;
		vertical-align: middle;
		background-color: #fff;
		opacity: 0;
		visibility: hidden;
	}
	.grid-img.img-loaded {
		visibility: visible;
		opacity: 1;
	}

</style>