<div class='container'>

	<div ng-if='!setPassword.accept'>
		<br /><br/>

		<div class='jumbotron'>
			<h1>Termo de Compromisso</h1>

			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut mattis vehicula nisl hendrerit luctus. Donec commodo placerat ex. Donec tempus lobortis nulla. Duis dui felis, tempus in rutrum ut, malesuada vel lacus. Cras ut mauris risus. Proin tempus volutpat feugiat. In tincidunt, orci vel lobortis imperdiet, quam tortor ornare enim, ut tempus est lectus in dui. Donec vel consectetur quam. Cras condimentum neque nibh, id pulvinar nisl pellentesque a. Praesent iaculis mattis mauris vitae rutrum. Maecenas interdum elit ac pulvinar sagittis. Etiam sem ante, rutrum quis enim id, aliquam pulvinar tortor. Maecenas sit amet sollicitudin felis, ac faucibus augue. Ut eu urna porta, ultrices dolor id, tincidunt quam.</p>

			<p>Phasellus pulvinar mollis felis, hendrerit commodo nibh sollicitudin eget. Pellentesque elementum ligula purus, id cursus elit dapibus sit amet. Sed sodales odio vel justo bibendum porttitor. Nam lorem enim, elementum ut elit sit amet, tincidunt sagittis lectus. Aenean dignissim id enim non dapibus. Maecenas non magna non sapien porttitor sagittis. Etiam eget enim elementum, volutpat turpis id, mattis nunc. Ut lacus tortor, bibendum a dictum sed, placerat et lectus. Curabitur cursus urna vel pulvinar ultrices. Nullam tempus feugiat augue, vel tristique nisl egestas at. Aenean tristique ultrices quam eget dapibus. Morbi id convallis augue, vitae cursus ante. Praesent euismod quam quis iaculis pulvinar. Maecenas rutrum sem at ultrices pellentesque. Mauris vitae mattis neque.</p>

			<br /><br /><br />

			<p>
				<button class='btn btn-primary pull-right' style='margin-left: 30px;' ng-click='setPassword.accept = true' ng-disabled="!setPassword.read">Avançar</button>
				<div class="checkbox pull-right">
					<input id="checkbox1" type="checkbox" ng-model='setPassword.read'>
					<label for="checkbox1">
						Li e estou de acordo
					</label>
				</div>
			</p>
			<div class='clearfix'></div>
		</div>
	</div>

	<div class='row' ng-if='setPassword.accept'>
		<div class='col-md-4 col-md-offset-4'>
			<div class='login-panel panel panel-default'>
				<div class='panel-heading'>
					<h3 class='panel-title'>SciELO - Definir Senha</h3>
				</div>
				<div class='panel-body'>
					<form role='form'>
						<fieldset>
							<div class='form-group'>
								<label>Usuário</label>
								<input class='form-control' type='text' ng-model='setPassword.user.name' disabled=''>
							</div>
							<div class='form-group'>
								<label>Senha</label>
								<input class='form-control' placeholder='Senha' ng-model='setPassword.user.password' type='password'>
							</div>
							<div class='form-group'>
								<label>Confirmar Senha</label>
								<input class='form-control' placeholder='Senha' ng-model='setPassword.user.confirmPassword' type='password'>
							</div>

							<button class='btn btn-lg btn-success btn-block' ng-click='setPassword.set(setPassword.user)'>Definir senha</button>
						</fieldset>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>