<div class='row'>
	<div class='col-md-12'>
		<h1 class='page-header'>Artigos</h1>
	</div>
</div>

<div class='row'>
	<div class='col-md-12'>
		<div class='panel panel-default'>
			<div class='panel-body'>
				<form >
					<div class='row'>
						<div class='col-md-3'>
							<div class='form-group'>
								<label>Pesquisar</label>
								<input ng-model='article.filter.value' placeholder='Pesquisar artigos' maxlength='255' class='form-control'>
							</div>
						</div>
						<div class='col-md-9'>
							<div class='form-group'>
								<label>&nbsp;</label>
								<div>
									<button class='btn btn-primary' ng-click='article.list(article.filter)'>
										<i class='fa fa-search'></i> Buscar
									</button>
									<!-- <a href class='btn btn-default' ng-click='article.toggleAdvancedSearch()'>
										<i class='fa fa-chevron-down' ng-show='!article.advancedSearch'></i> 
										<i class='fa fa-chevron-up' ng-show='article.advancedSearch'></i> 
										Busca Avançada
									</a> -->
								</div>
							</div>
						</div>
					</div>
					<!-- <div class='row' ng-show='article.advancedSearch'> -->
					<div class='row'>
						<div class='col-md-4'>
							<div class='form-group'>
								<label>Categoria</label>
								<select class='form-control' ng-model='article.filter.category' ng-options='category.id as category.name for category in article.categories' />
							</div>
						</div>
						<div class='col-md-4'>
							<div class='form-group'>
								<label>Revista</label>
								<input type='text' ng-model='article.filter.magazine' typeahead='magazine.name for magazine in article.magazines | filter:$viewValue | limitTo:8' class='form-control'>
							</div>
						</div>
						<div class='col-md-2'>
							<div class='form-group'>
								<label>Exibir</label>
								<select class='form-control'>
									<option>Todos</option>
									<option>Com capa</option>
									<option>Sem capa</option>
								</select>
							</div>
						</div>
					</div>
				</form>

				<hr ng-if='article.articles' />

				<div class='row' ng-if='article.articles'>
					<div class='col-md-12'>
						<div class='table-responsive'>
							<table st-table='article.articlesList' st-safe-src='article.articles' class='table table-striped table-hover'>
								<thead>
									<tr>
										<th colspan='2'>
											<input st-search='' st-delay='0' class='form-control' placeholder='Filtrar' type='text' style='width: 300px' />
										</th>
										<th colspan='4'>
											<button class='btn btn-default pull-right' type='submit' ng-click='article.articles = null' style='margin-left: 5px;'>
												<i class='fa fa-minus'></i><span class='hidden-xs'> Limpar resultados
											</button>
											<button class='btn btn-default pull-right' type='submit' ng-click='article.showEditCover()' ng-show='article.hasSelectedRow'>
												<i class='fa fa-pencil'></i><span class='hidden-xs'> Editar selecionados
											</button>
										</th>
										<!--<th colspan='2' width='50px'>
											<button class='btn btn-primary pull-right' ng-click='user.prepareCreate()'>
												<i class='fa fa-plus'></i><span class='hidden-xs'> Novas Capas</span>
											</button>
										</th>-->
									</tr>
									<tr>
										<th class='cover-list'>Capa</th>
										<th>Artigos</th>
										<th width='20%'>Edição</th>
										<th width='140px'>Data do Upload</th>
										<th width='50px'></th>
										<th width='50px'></th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat='a in article.articlesList' ng-click='article.selectRow(a)' ng-class='{ "selected": a.selected }'>
										<td>
											<a href ng-click='article.showDetails(a)'>
												<img class='cover-list' ng-src='{{a.cover}}'>
											</a>
										</td>
										<td>
											<h4>{{a.article}}</h4>
											<h5>{{a.magazine}}</h5>
											<p>
												<span>
													<span ng-repeat="a in a.authors">{{a}}<span ng-if="!$last">, </span></span>
												</span>
											</p>
										</td>
										<td>
											<p>Ano: {{a.editionYear}}</p>
											<p>Volume: {{a.editionVolume}}</p>
											<p>Número: {{a.editionNumber}}</p>
										</td>
										<td>{{a.uploadDate}}</td>
										<td>
											<button class='btn btn-default pull-right' ng-click='article.showEditCover(a)'>
												<i class='fa fa-pencil'></i><span class='hidden-xs'> Editar</span>
											</button>
										</td>
										<td>
											<button class='btn btn-default pull-right' ng-click='article.prepareRemove(a)'>
												<i class='fa fa-close'></i><span class='hidden-xs'> Remover</span>
											</button>
										</td>
									</tr>
									<tr ng-if='article.articlesList.length === 0' style='height: 51px;'>
										<td colspan='6'>
											Nenhum resultado encontrado.
										</td>
									</tr>
								</tbody>
								<tfoot>
									<tr>
										<td colspan='6' class='text-center'>
											<div st-pagination='' st-items-by-page='10' st-displayed-pages='7'></div>
										</td>
									</tr>
								</tfoot>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script type='text/ng-template' id='details-dialog'>
	<br />

	<div class='text-center'>
		<img ng-src='{{article.currentArticle.cover}}' />
	</div>

	<div class='row'>
		<div class='col-md-12 text-center'>
			<h3>{{article.currentArticle.article}}</h3>
			<h4>{{article.currentArticle.magazine}}</h4>
			<p>
				<span>
					<span ng-repeat='a in article.currentArticle.authors'>{{a}}<span ng-if='!$last'>, </span></span>
				</span>
			</p>
			<p>
				Ano {{article.currentArticle.editionYear}} - Volume {{article.currentArticle.editionVolume}} - Número {{article.currentArticle.editionNumber}}
			</p>
			<small>Imagem carregada por <b>Usuário 1</b> no dia <b>{{article.currentArticle.uploadDate}}</b>.</small>
		</div>
	</div>
</script>

<script type='text/ng-template' id='edit-dialog'>
	<br />

	<div class='row'>
		<div class='col-md-6'>
			<h5 class='text-center'>Imagem carregada</h5>
			<div class='cropArea'>
				<img-crop image='article.example' result-image='myCroppedImage' area-type='square'></img-crop>
			</div>
		</div>
		<div class='col-md-6'>
			<h5 class='text-center'>Visualização da capa</h5>
			<div class='pull-left'>
				<img ng-src='{{myCroppedImage}}' style='width: 360px; height: 480px;' />
			</div>
		</div>
	</div>

	<br />

	<div class='row'>
		<div class='col-md-12'>
			<div class='box-placeholder'>
				<h5>Arraste uma nova capa aqui</h5>
			</div>
		</div>
	</div>

	<div class='row'>
		<div class='col-md-12'>
			<button class='btn btn-primary' ng-click='article.save(article.currentArticle)'>Salvar</button>
			<button class='btn btn-default' ng-click='closeThisDialog()'>Fechar</button>
		</div>
	</div>

	<style>
		.cropArea {
			//background: rgba(0, 0, 0, .54);
			//overflow: hidden;
			border: 1px solid #ccc;
			background: #f1f1f1;
			width:360px;
			height:480px;
		}

		.box-placeholder {
			margin-bottom: 15px;
			padding: 20px;
			border: 1px dashed #dddddd;
			background: #fafafa;
			color: #444444;
		}
		.box-placeholder > :last-child {
			margin-bottom: 0;
		}
		.box-placeholder-lg {
			padding-top: 80px;
			padding-bottom: 80px;
		}

		.ngdialog.ngdialog-theme-default {
			padding-top: 100px;
		}
		
		.ngdialog.cover-dialog .ngdialog-content{
			width : 800px;
		}
	</style>
</script>

<script type="text/ng-template" id="remove-dialog">
	<h5>Confirma a exclusão da capa do artigo?</h5>

	<button type="button" ng-click="confirm()" class="btn btn-primary">Sim</button>
	<button type="button" ng-click="closeThisDialog()" class="btn btn-default">Não</button>
</script>

<style>
	tr.selected {
		background-color: #d9edf7 !important;
	}
</style>