<div class="row">
	<div class="col-md-12">
		<h1 class="page-header">Usuários</h1>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-body">
				<div class="row">
					<div class="col-md-12">
						<div class="table-responsive">
							<table st-table="user.usersTable" st-safe-src="user.users" class="table table-striped table-hover">
								<thead>
									<tr>
										<th colspan="4">
											<input st-search="" st-delay="0" class="form-control" placeholder="Pesquisar" type="text" />
										</th>
										<th width="10%">
											<a class="btn btn-primary pull-right" ng-click="user.prepareCreate()">
												<i class="fa fa-plus"></i><span class="hidden-xs"> Novo</span>
											</a>
										</th>
									</tr>
									<tr>
										<th>Nome</th>
										<th width="20%">E-mail</th>
										<th width="20%">Perfil</th>
										<th width="50px"></th>
										<th width="50px"></th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="u in user.usersTable">
										<td>{{u.name}}</td>
										<td>{{u.email}}</td>
										<td>{{u.profile | profile}}</td>
										<td>
											<a class="btn btn-default pull-right" ng-click="user.prepareEdit(u)">
												<i class="fa fa-pencil"></i><span class="hidden-xs"> Editar</span>
											</a>
										</td>
										<td>
											<a class="btn btn-default pull-right" ng-click="user.remove(u)">
												<i class="fa fa-close"></i><span class="hidden-xs"> Remover</span>
											</a>
										</td>
									</tr>
									<tr ng-if="user.usersTable.length === 0" style="height: 51px;">
										<td colspan="5">
											Nenhum resultado encontrado.
										</td>
									</tr>
								</tbody>
								<tfoot>
									<tr>
										<td colspan="5" class="text-center">
											<div st-pagination="" st-items-by-page="10" st-displayed-pages="7"></div>
										</td>
									</tr>
								</tfoot>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/ng-template" id="new-dialog">
	<h4>Novo Usuário</h4>

	<form name="form" role="form">
		<p>
			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
						<label>Nome</label>
						<input ng-model="user.user.name" maxlength="255" class="form-control">
					</div>
					<div class="col-md-12">
					</div>
					<div class="form-group">
						<label>E-mail</label>
						<input ng-model="user.user.email" maxlength="255" class="form-control">
					</div>
				</div>
				<div class="col-md-12">
					<div class="form-group">
						<label>Perfil</label>
						<select class="form-control">
							<option ng-repeat="profile in user.profiles" value="profile">{{profile | profile}}</option>
						</select>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label>Senha</label>
						<input ng-model="user.user.password" type="password" maxlength="255" class="form-control">
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label>Confirmar senha</label>
						<input ng-model="user.user.confirm_password" type="password" maxlength="255" class="form-control">
					</div>
				</div>
			</div>
		</p>

		<button type="submit" class="btn btn-primary" ng-click="user.create(user.user)">Salvar</button>
		<button class="btn btn-default" ng-click="closeThisDialog()">Fechar</button>
	</form>
</script>

<script type="text/ng-template" id="edit-dialog">
	<h4>Editar Usuário</h4>

	<form name="form" role="form">
		<p>
			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
						<label>Nome</label>
						<input ng-model="user.user.name" maxlength="255" class="form-control">
					</div>
					<div class="col-md-12">
					</div>
					<div class="form-group">
						<label>E-mail</label>
						<input ng-model="user.user.email" maxlength="255" class="form-control">
					</div>
				</div>
				<div class="col-md-12">
					<div class="form-group">
						<label>Perfil</label>
						<select class="form-control" ng-model="user.user.profile" ng-options="profile as (profile | profile) for profile in user.profiles"></select>
					</div>
				</div>
			</div>
		</p>

		<button type="submit" class="btn btn-primary" ng-click="user.edit(user.user)">Salvar</button>
		<button class="btn btn-default" ng-click="closeThisDialog()">Fechar</button>
	</form>
</script>